@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&subset=cyrillic');

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  color: #293330;
  background: #E9F5F2;

  font-family: "Open Sans", sans-serif;
}

nav,
section {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  display: flex;

  padding-top: 15px;

  font-size: 14px;
  font-weight: 700;

  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;

  margin-left: 30px;
}

nav a {
  transition: 150ms border-bottom ease;
  text-decoration: none;

  color: inherit;
  border-bottom: 2px solid rgba(229, 100, 92, 0.2);
}

nav a.is-active {
  border-bottom: 2px solid rgba(229, 100, 92, 0.8);
}

nav a:hover {
  border-bottom: 2px solid rgba(229, 100, 92, 0.8);
}

label {
  display: block;

  margin-top: 40px;

  font-size: 16px;
  font-weight: bold;
}

input {
  width: 650px;
  height: 54px;
  margin-top: 15px;
  padding: 0 20px;

  border: none;
  border-radius: 2px;
  outline: none;
  background: #A0B8B2;

  font-size: 18px;
}

input::placeholder {
  color: #E9F5F2;

  font-style: italic;
}

form ul {
  display: inline-flex;

  color: #8EA49F;

  font-size: 18px;
  font-weight: 700;

  align-items: center;
}

form ul li {
  display: flex;

  height: 54px;
  padding: 0 20px;

  cursor: pointer;
  transition: all 200ms ease;

  border: 1px solid #A0B8B2;

  align-items: center;
}

form ul li:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

form ul li:last-child {
  margin-left: -1px;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

form ul li.is-active {
  color: #FAFFFE;
  background-color: #A0B8B2;
}

form ul li:hover {
  color: #FAFFFE;
  background: rgba(160, 184, 178, 0.7);
}

form button {
  height: 50px;
  margin-top: -4px;
  margin-left: 40px;
  padding: 0 33px;

  cursor: pointer;
  transition: all 100ms ease;

  color: #FAFFFE;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #676CDA;
  box-shadow: 4px 4px 0px rgba(103, 108, 218, 0.5);

  font-size: 16px;
  font-weight: 700;
}

form button:active {
  transform: translate3d(4px, 4px, 0);

  box-shadow: 0px 0px 0px rgba(103, 108, 218, 0.5);
}

.form-time-select {
  display: flex;

  margin-top: 15px;

  align-items: center;
}

.section-logo {
  position: fixed;
  right: calc((100vw - 960px) / 2);
  bottom: 0;
}
